<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partial/header %>
  </head>
  <body>
    <label>Login</label>
    <div class='login'>
      <div class='inputcover'>
        <form class='loginForm' action='/login' method='post' id='form1'>
          <label>Email</label><input type='text' name='email' value='<%= email %>' class='<%= loginError[0] ? "errorInput" : "" %>'>
          <label>Password</label><input type='password' name='password' value='' class='<%= loginError[0] ? "errorInput" : "" %>'>
          <% loginError.forEach(function(e) { %>
            <span class='error'><%= e %></span>
          <% }); %>
        </form>
        <table>
          <form action='/' method='get'>
            <button class='rippleItem'>Back</button>
          </form>
          <button class='submit_btn rippleItem' type='submit' form='form1'>Submit</button>
        </table>
      </div>
    </div>
    <% include ../partial/tail %>
  </body>
</html>
